<section
  class="flex flex-col sm:flex-row sm:justify-between sm:items-stretch sm:mt-20 text-slate-50"
>
  <div class="flex sm:w-1/2 flex-col">
    <h2
      class="text-4xl mt-6 lg:text-6xl xl:text-8xl font-bold tracking-tighter bg-gradient-to-r"
    >
      PRIYANSHU PAUL
    </h2>
    <h3
      class="mt-6 text-2xl lg:text-4xl tracking-tight bg-gradient-to-r from-pink-400 via-slate-400 to-violet-900 bg-clip-text text-transparent"
    >
      FULL STACK DEVELOPER
    </h3>
    <p class="mt-4 text-xs lg:text-base break-words rounded-lg italic">
      "I’m a passionate full-stack developer from India.I specialize in creating
      beautiful, responsive, and user-friendly websites using modern
      technologies like HTML, CSS, JavaScript,Node JS and frameworks like
      Angular and React."
    </p>
  </div>
  <div class="w-96 max-h-full mt-10 sm:mt-0">
    <div class="flex justify-center">
      <img
        [src]="imagePath"
        alt="Profile Image"
        class="object-center xl:rounded-full xl:filter xl:grayscale xl:hover:grayscale-0 transition duration-300 cursor-pointer hover:scale-110"
      />
    </div>
  </div>
</section>
