<section
  class="flex flex-col lg:flex-row lg:justify-between lg:mt-20 text-slate-50"
>
  <div class="flex lg:w-1/2 flex-col">
    <h2
      class="text-4xl lg:text-6xl mt-6 font-bold tracking-tighter bg-gradient-to-r"
    >
      Priyanshu Paul
    </h2>
    <h3
      class="mt-6 text-2xl lg:text-4xl tracking-tight bg-gradient-to-r from-pink-400 via-slate-400 to-violet-900 bg-clip-text text-transparent"
    >
      Full Stack Developer
    </h3>
    <p class="mt-4 text-xs lg:text-base break-words rounded-lg">
      I’m a passionate full-stack developer from India.I specialize in creating
      beautiful, responsive, and user-friendly websites using modern
      technologies like HTML, CSS, JavaScript,Node JS and frameworks like
      Angular and React.
    </p>
  </div>
  <div class="w-80 h-full mt-2 lg:mt-0">
    <div class="flex justify-center">
      <img
        [src]="imagePath"
        alt="Profile Image"
        class="object-center rounded-xl lg:rounded-full filter grayscale hover:grayscale-0 transition duration-300 cursor-pointer hover:scale-110"
      />
    </div>
  </div>
</section>
