/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --muted-red: #5c2b29;
    --darker-red: #4a211f;
    --off-white: #F8F7F4;
    --dark-text: #1a1a1a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--off-white);
    color: var(--dark-text);
}

.bg-muted-red {
    background-color: var(--muted-red);
}

.dark-text {
    color: var(--dark-text);
}

.bg-off-white {
    background-color: var(--off-white);
}

.text-muted-red {
    color: var(--muted-red);
}

.border-muted-red {
    border-color: var(--muted-red);
}

.border-darker-red {
    border-color: var(--darker-red);
}

.outline-muted-red {
    outline-color: var(--muted-red);
}

/* Custom grain texture */
.grainy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noiseFilter)"/></svg>');
    opacity: 0.05;
    pointer-events: none;
    z-index: 0;
}

/* Typing cursor animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blinking-cursor {
    animation: blink 1s step-end infinite;
    font-weight: bold;
}

/* Skills scroller animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.scroller-inner {
    animation: scroll 40s linear infinite;
}